@use '../../utils/variables' as colors;

.dropdown {
    width: 175px;
    background-color: colors.$white;
    border: 1px solid colors.$border-grey;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0px 5px 0px;
    color: #848485;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    font-weight: bold;
    &:hover {
        background-color: colors.$hover-grey;
    }
    .dropdown-content {
        width: inherit;
        background-color: inherit;
        border: 1px solid colors.$border-grey;
        position: absolute;
        display: flex;
        flex-direction: column;
        max-height: 500px;
        overflow-y: scroll;
        transform: translateY(1%);
        a:nth-child(odd) {
            background-color: colors.$white;
          }
          
        a:nth-child(even) {
            background-color: rgb(245, 245, 245);
        }
        a {
            color: colors.$link-grey;
            padding: 5px 0px 5px 0px;
            text-decoration: none;
            transition: 0.1s ease-in-out;
            &:hover {
                color: colors.$lightblue;
            }
        }
    }
    .active {
        color:colors.$lightblue !important;
    }
}

@media only screen and (max-width: 700px) {
    .dropdown {
        width: 120px;
    }
}