@use '../../utils/variables' as colors;

.error {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    h1 {
        font-size: 25px;
        color: colors.$link-grey;
    }
    button {
        color: colors.$link-grey;
        background-color: colors.$hover-grey;
        border: none;
        padding: 7px 10px 7px 10px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 30px;
        font-size: 20px;
        transition: 0.1s ease-in-out;
        &:hover {
            opacity: 0.8;
        }
    }
}