@use '../../utils/variables' as colors;

.post {
    display: flex;
    align-items: center;
    border: 1px solid colors.$border-grey;
    border-bottom: 0.5px;
    min-height: 100px;
    transition: 0.2s ease-in-out;
    &:hover {
        background-color: colors.$hover-grey;
        cursor: pointer;
    }
}
.post-content {
    margin: 10px 10px 10px 0px;
    .pinned {
        display: flex;
        flex-direction: row;
        align-items: center;
        svg {
            color: #00b400;
        }
        p {
            margin: 0px 0px 0px 5px;
            color: colors.$black;
            font-size: 13px;
            font-weight: bold;
        }
    }
}
.post-img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    img {
        width: inherit;
        height: inherit;
        border-radius: 5px;
        object-fit: contain;
    }   
}
.post-forum {
    font-size: 13px;
    text-decoration: none;
    color: colors.$black !important;
    font-weight: bold;
    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: colors.$link-grey;
    }
}
.post-title {
    color: colors.$black;
    margin: 0px 0px 15px 0px;
    font-size: 18px;
}
.post-author {
    margin: 0px;
    color: colors.$link-grey;
    font-size: 15px;
    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.post-media {
    font-size: 15px;
    color: colors.$lightblue;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 4px;
    transition: 0.1s ease-in-out;
    &:hover {
        color: colors.$hoverblue;
    }
}
.active {
    pointer-events: none;
}

@media only screen and (max-width: 700px) {
    .post-title {
        font-size: 13px;
    }
}