@use '../../utils/variables' as colors;

header {
    position: fixed;
    top: 0px;
    background-color: colors.$white;
    width: 100%;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid colors.$border-grey;
    height: 60px;
    z-index: 1;
    .header-wrapper {
        margin: 0px auto;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;  
        .header-logo-img {
            height: 40px;
            margin-left: 15px;
        }
        nav {
            width: 330px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .default-feeds {
                margin-left: 10px;
                color: colors.$link-grey;
                text-decoration: none;
                font-weight: bold;
                transition: 0.1s ease-in-out;
                svg {
                    position: relative;
                    top: 2px;
                }
                &:hover {
                    color: colors.$lightblue;
                }
            }
        }
        .my-github {
            text-decoration: none;
            color: colors.$link-grey;
            transition: 0.1s ease-in-out;
            margin-right: 15px;
            font-size: 35px;
            line-height: 25px;
            &:hover {
                color: colors.$lightblue;
            }
        }
    }
}
.active {
    color:colors.$lightblue !important;
}

@media only screen and (max-width: 700px) {
    header .header-wrapper .header-logo-img {
        height: 30px;
    }
    header .header-wrapper nav {
        width: 220px;
    }
    .my-github {
        visibility: hidden;
    }
}