
$link-grey: whitesmoke;
$border-grey: rgba(128, 128, 128, 0.527);
$hover-grey: rgba(128, 128, 128, 0.144);
$dracula-blue: #8be9fd;

.post {
    display: flex;
    align-items: center;
    border: 1px solid $border-grey;
    border-bottom: 0.5px;
    min-height: 100px;
    transition: 0.2s ease-in-out;
    &:hover {
        background-color: $hover-grey;
        cursor: pointer;
    }
}
.post-content {
    margin: 10px 10px 10px 0px;
    span {
        color: #ff5555;
        border: 1px solid #ff5555;
        border-radius: 2px;
        font-size: 13px;
        margin-right: 5px;
        padding: 0px 3px 0px 3px;
    }
    .pinned {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
            height: 15px;
            filter: invert(100%) sepia(40%) saturate(3446%) hue-rotate(33deg) brightness(100%) contrast(97%);
        }
        p {
            margin: 0px 0px 0px 5px;
            color: whitesmoke;
            font-size: 13px;
            font-weight: bold;
        }
    }
}
.post-img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    img {
        width: inherit;
        height: inherit;
        border-radius: 5px;
        object-fit: contain;
    }   
}
.post-forum {
    font-size: 13px;
    text-decoration: none;
    color: $link-grey;
    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: $link-grey;
    }
}
.post-title {
    color: white;
    margin: 0px;
    font-size: 18px;
}
.post-author {
    margin: 0px;
    color: whitesmoke;
    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.post-media {
    color: $dracula-blue;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 4px;
    transition: 0.1s ease-in-out;
    &:hover {
        color: #5ad6f1
    }
}

@media only screen and (max-width: 700px) {
    .post-title {
        font-size: 13px;
    }
}