body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body, html, #root, .App {
      height: 100%;
      margin: 0;
  }
  .App {
        header {
            .flex-wrap {
                text-align: center;
            }
        }
    }

    .error-handling {
        text-align: center;
    }

  .feed {
    max-width: 700px;
    margin: 0 auto;
    .post {
        display: flex;
        align-items: center;
        border-bottom: 2px solid grey;
        min-height: 100px;
        .img-wrapper {
            width: 100px;
            img {
                width: inherit;
                border-radius: 3px;
            }   
        }
        .content-wrapper {
            h1 {
                margin: 0;
                font-size: 20px;
            }
            p {
                margin: 0px;
            }
        }
        }
    }
    .loading {
        position: relative;
        width: fit-content;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
        color: whitesmoke;
        font-size: 20px;
    }
    .ver-mais {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }