@use '../../utils/variables' as colors;

.nav-bar {
    position: relative;
    top: 80px;
    background-color: colors.$white;
    padding: 20px 0px 20px 0px;
    max-width: 1000px;
    margin: 15px auto;
    border-radius: 5px;
    border: 1px solid colors.$border-grey;
}
.nav-links {
    text-decoration: none;
    color: colors.$link-grey;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    padding: 7px 15px 7px 15px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover {
        background-color: colors.$hover-grey;
    }
}
.link-active {
    color: colors.$lightblue;
    background-color: colors.$active-background;
    pointer-events: none;
}

@media only screen and (max-width: 700px) {
    .nav-links {
        padding: 5px 10px 5px 10px;
        margin-right: 3px;
    }
}