$link-grey: whitesmoke;
$border-grey: rgba(128, 128, 128, 0.527);
$hover-grey: rgba(128, 128, 128, 0.144);
$dracula-blue: #8be9fd;
.nav-bar {
    position: relative;
    background-color: #44475a;
    padding: 10px 0px 10px 0px;
    max-width: 1000px;
    margin: 15px auto;
    border-radius: 5px;
    border: 1px solid $border-grey;
}
.nav-links {
    text-decoration: none;
    color: $link-grey;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    padding: 7px 15px 7px 15px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover {
        background-color: $hover-grey;
    }
}
.link-active {
    color: $dracula-blue;
    background-color: rgba(128, 128, 128, 0.062);
    pointer-events: none;
}

@media only screen and (max-width: 700px) {
    .nav-links {
        padding: 5px 10px 5px 10px;
        margin-right: 3px;
    }
}