@use '../../utils/variables' as colors;

.skeleton {
    display: flex;
    align-items: center;
    position: relative;
    top: 80px;
    background-color: colors.$white;
    max-width: 1000px;
    padding: 20px 0px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid colors.$border-grey;
    .skeleton-img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 5px;
        animation: skeleton-animation 1s linear infinite alternate;
    }
    .skeleton-content {
        margin: 10px 10px 10px 0px;
        .skeleton-title {
            display: block;
            margin: 0px;
            padding: 10px;
            width: 800px;  
        }
        .skeleton-text {
            display: block;
            padding: 5px;
            width: 500px;
            margin: 10px 0px 10px 0px;
            border-radius: 5px;
            animation: skeleton-animation 1s linear infinite alternate;
        }
        span {
            border-radius: 5px;
            animation: skeleton-animation 1s linear infinite alternate;
        }
    }
}

@keyframes skeleton-animation {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}