@use '../../utils/variables' as colors;
.banner {
    position: relative;
    top: 80px;
    margin: 0 auto;
    max-width: 1000px;
    padding: 15px 0px 15px 0px;
    border-radius: 5px;
    background-color: colors.$white;
    border: 1px solid colors.$border-grey;
    .banner-title {
        display: flex;
        align-items: center;
        margin-left: 15px;
        img {
            height: 70px;
            width: 70px;
            border: 5px solid colors.$border-grey;
            border-radius: 50%;
            // background-image: url('./placeholderIcon.png');
            // background-position: center;
            // background-size: 70px;
        }
        div {
            margin-left: 15px;
            h1{
                color: colors.$black;
                margin: 16px 0px 0px 0px;
            }
            span {
                color: colors.$link-grey;
            }
            p {
                max-width: 300px;
                text-overflow: clip;

            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .banner-title  {
        img {
            height: 50px !important;
            width: 50px !important;
        }
        h1{
            font-size: 20px;
        }
    }
}